
h1 {
    text-align: center;
    }

.gif-section {
    padding: 10px;
}

#animal-input {
    width: 100%;
    margin-bottom: 10px;
}

.input-section {
    padding-top: 10px;
    padding-bottom: 15px;
    
}

.button-section {
    margin-top: 15px;
    padding-top: 15px;
    padding-bottom: 15px;
    
}
